node_modules
.env

# Infastrcuture ignores
*.tfvars
.terraform
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
crash.log
crash.*.log